


/* styles/Login.module.css */
.container {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-top: 100px;

  }
  
  .form {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    justify-content: center;

  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: -10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  h2{
    font-weight: bolder;
    /* font-family: serif; */
    color: sienna;
    margin-left: 14%;
    font-size: 40px;

  }
  